@import 'tailwindcss';

@theme inline {
  --color-base-50: var(--color-slate-50);
  --color-base-100: var(--color-slate-100);
  --color-base-200: var(--color-slate-200);
  --color-base-300: var(--color-slate-300);
  --color-base-400: var(--color-slate-400);
  --color-base-500: var(--color-slate-500);
  --color-base-600: var(--color-slate-600);
  --color-base-700: var(--color-slate-700);
  --color-base-800: var(--color-slate-800);
  --color-base-900: var(--color-slate-900);
  --color-base-950: var(--color-slate-950);

  --color-primary-50: var(--color-sky-50);
  --color-primary-100: var(--color-sky-100);
  --color-primary-200: var(--color-sky-200);
  --color-primary-300: var(--color-sky-300);
  --color-primary-400: var(--color-sky-400);
  --color-primary-500: var(--color-sky-500);
  --color-primary-600: var(--color-sky-600);
  --color-primary-700: var(--color-sky-700);
  --color-primary-800: var(--color-sky-800);
  --color-primary-900: var(--color-sky-900);
  --color-primary-950: var(--color-sky-950);

  --color-secondary-50: var(--color-lime-50);
  --color-secondary-100: var(--color-lime-100);
  --color-secondary-200: var(--color-lime-200);
  --color-secondary-300: var(--color-lime-300);
  --color-secondary-400: var(--color-lime-400);
  --color-secondary-500: var(--color-lime-500);
  --color-secondary-600: var(--color-lime-600);
  --color-secondary-700: var(--color-lime-700);
  --color-secondary-800: var(--color-lime-800);
  --color-secondary-900: var(--color-lime-900);
  --color-secondary-950: var(--color-lime-950);

  --color-info-50: var(--color-blue-50);
  --color-info-100: var(--color-blue-100);
  --color-info-200: var(--color-blue-200);
  --color-info-300: var(--color-blue-300);
  --color-info-400: var(--color-blue-400);
  --color-info-500: var(--color-blue-500);
  --color-info-600: var(--color-blue-600);
  --color-info-700: var(--color-blue-700);
  --color-info-800: var(--color-blue-800);
  --color-info-900: var(--color-blue-900);
  --color-info-950: var(--color-blue-950);

  --color-success-50: var(--color-green-50);
  --color-success-100: var(--color-green-100);
  --color-success-200: var(--color-green-200);
  --color-success-300: var(--color-green-300);
  --color-success-400: var(--color-green-400);
  --color-success-500: var(--color-green-500);
  --color-success-600: var(--color-green-600);
  --color-success-700: var(--color-green-700);
  --color-success-800: var(--color-green-800);
  --color-success-900: var(--color-green-900);
  --color-success-950: var(--color-green-950);

  --color-warning-50: var(--color-yellow-50);
  --color-warning-100: var(--color-yellow-100);
  --color-warning-200: var(--color-yellow-200);
  --color-warning-300: var(--color-yellow-300);
  --color-warning-400: var(--color-yellow-400);
  --color-warning-500: var(--color-yellow-500);
  --color-warning-600: var(--color-yellow-600);
  --color-warning-700: var(--color-yellow-700);
  --color-warning-800: var(--color-yellow-800);
  --color-warning-900: var(--color-yellow-900);
  --color-warning-950: var(--color-yellow-950);

  --color-danger-50: var(--color-red-50);
  --color-danger-100: var(--color-red-100);
  --color-danger-200: var(--color-red-200);
  --color-danger-300: var(--color-red-300);
  --color-danger-400: var(--color-red-400);
  --color-danger-500: var(--color-red-500);
  --color-danger-600: var(--color-red-600);
  --color-danger-700: var(--color-red-700);
  --color-danger-800: var(--color-red-800);
  --color-danger-900: var(--color-red-900);
  --color-danger-950: var(--color-red-950);

  --color-for-white-bg-font: var(--color-base-600);
  --color-for-black-bg-font: var(--color-base-100);

  --color-base-50-font: var(--color-base-600);
  --color-base-100-font: var(--color-base-600);
  --color-base-200-font: var(--color-base-600);
  --color-base-300-font: var(--color-base-600);
  --color-base-400-font: var(--color-base-600);
  --color-base-500-font: var(--color-base-100);
  --color-base-600-font: var(--color-base-100);
  --color-base-700-font: var(--color-base-100);
  --color-base-800-font: var(--color-base-100);
  --color-base-900-font: var(--color-base-100);
  --color-base-950-font: var(--color-base-100);

  --color-primary-50-font: var(--color-base-600);
  --color-primary-100-font: var(--color-base-600);
  --color-primary-200-font: var(--color-base-600);
  --color-primary-300-font: var(--color-base-600);
  --color-primary-400-font: var(--color-base-600);
  --color-primary-500-font: var(--color-base-100);
  --color-primary-600-font: var(--color-base-100);
  --color-primary-700-font: var(--color-base-100);
  --color-primary-800-font: var(--color-base-100);
  --color-primary-900-font: var(--color-base-100);
  --color-primary-950-font: var(--color-base-100);

  --color-secondary-50-font: var(--color-base-600);
  --color-secondary-100-font: var(--color-base-600);
  --color-secondary-200-font: var(--color-base-600);
  --color-secondary-300-font: var(--color-base-600);
  --color-secondary-400-font: var(--color-base-600);
  --color-secondary-500-font: var(--color-base-100);
  --color-secondary-600-font: var(--color-base-100);
  --color-secondary-700-font: var(--color-base-100);
  --color-secondary-800-font: var(--color-base-100);
  --color-secondary-900-font: var(--color-base-100);
  --color-secondary-950-font: var(--color-base-100);

  --color-success-50-font: var(--color-base-600);
  --color-success-100-font: var(--color-base-600);
  --color-success-200-font: var(--color-base-600);
  --color-success-300-font: var(--color-base-600);
  --color-success-400-font: var(--color-base-600);
  --color-success-500-font: var(--color-base-100);
  --color-success-600-font: var(--color-base-100);
  --color-success-700-font: var(--color-base-100);
  --color-success-800-font: var(--color-base-100);
  --color-success-900-font: var(--color-base-100);
  --color-success-950-font: var(--color-base-100);

  --color-info-50-font: var(--color-base-600);
  --color-info-100-font: var(--color-base-600);
  --color-info-200-font: var(--color-base-600);
  --color-info-300-font: var(--color-base-600);
  --color-info-400-font: var(--color-base-600);
  --color-info-500-font: var(--color-base-100);
  --color-info-600-font: var(--color-base-100);
  --color-info-700-font: var(--color-base-100);
  --color-info-800-font: var(--color-base-100);
  --color-info-900-font: var(--color-base-100);
  --color-info-950-font: var(--color-base-100);

  --color-warning-50-font: var(--color-base-600);
  --color-warning-100-font: var(--color-base-600);
  --color-warning-200-font: var(--color-base-600);
  --color-warning-300-font: var(--color-base-600);
  --color-warning-400-font: var(--color-base-600);
  --color-warning-500-font: var(--color-base-100);
  --color-warning-600-font: var(--color-base-100);
  --color-warning-700-font: var(--color-base-100);
  --color-warning-800-font: var(--color-base-100);
  --color-warning-900-font: var(--color-base-100);
  --color-warning-950-font: var(--color-base-100);

  --color-danger-50-font: var(--color-base-600);
  --color-danger-100-font: var(--color-base-600);
  --color-danger-200-font: var(--color-base-600);
  --color-danger-300-font: var(--color-base-600);
  --color-danger-400-font: var(--color-base-600);
  --color-danger-500-font: var(--color-base-100);
  --color-danger-600-font: var(--color-base-100);
  --color-danger-700-font: var(--color-base-100);
  --color-danger-800-font: var(--color-base-100);
  --color-danger-900-font: var(--color-base-100);
  --color-danger-950-font: var(--color-base-100);

  --text-2xs: 0.625rem;
  --text-2xs--line-height: 0.75rem;

  --animate-skeleton: skeleton 2s ease-out infinite;

  @keyframes skeleton {
    0%,
    100% {
      background-color: var(--color-base-300);
    }
    50% {
      background-color: var(--color-base-100);
    }
  }
}
